{% extends "A_template.html" %}

{% block title %}Infographic Templates{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='html2canvas.min.js') }}"></script>
<script src="{{ url_for('static', filename='F1_info.js') }}"></script>
{% endblock %}

{% block body %}
<h3 class="mb-4">INFOGRAPHIC TEMPLATES</h3>
<div class="mb-4">
  For quick demo - <code>Drop static/DEMO_info.html</code> into the box below.
  To create your own HTML template:
  <ul>
    <li>Start by creating <code>templates/F_SUFFIX.html</code> - See <code>templates/F_DEMO.html</code> for example.</li>
    <li>Must have <code>&lt;div id=&quot;info&quot;&gt;</code> wrapper.</li>
    <li>Mark all the variable sections with <code>data-section="title"</code></li>
    <li>Create your infographics, file name must start with <code>SUFFIX_</code> - See <code>static/static/DEMO_info.html</code> for example.</li>
    <li>Simple match <code>data-section="title"</code> in the template.</li>
  </ul>
</div>

<form class="bg-white border p-4" onsubmit="return info.go()">
  <div class="form-group mb-3">
    <label>Drop HTML Here</label>
    <div id="drop" class="drop"></div>
  </div>
</form>
{% endblock %}