{% extends "A_template.html" %}

{% block title %}Infographic Templates{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='F1_info.js') }}"></script>
{% endblock %}

{% block body %}
<h3 class="mb-4">INFOGRAPHIC TEMPLATES</h3>
<div class="mb-4">
  For quick demo - <code>Drop static/DEMO_info.html</code> into the box below.
  To create your own HTML template:
  <ol>
    <li>
      Start by creating <code>templates/F_SUFFIX.html</code> - See <code>templates/F_DEMO.html</code> for example.
      <ul>
        <li>Must <code>extends "F2_template.html"</code>.</li>
        <li>Use <code>block head</code> section to load your custom CSS/JS.</li>
        <li>Use <code>block body</code> to create your template. TLDR - Just set all the variable sections with <code>data-section="title"</code></li>
      </ul>
    </li>
    <li>
      Create your infographics - See <code>static/static/DEMO_info.html</code> for example.
      <ul>
        <li>File name must start with <code>SUFFIX_</code></li>
        <li>Simply match <code>data-section="title"</code> in the template.</li>
      </ul>
    </li>
  </ol>
</div>

<form class="bg-white border p-4" onsubmit="return info.go()">
  <div class="form-group mb-3">
    <label>Drop HTML Here</label>
    <div id="drop" class="drop"></div>
  </div>
</form>
{% endblock %}