<!DOCTYPE html>
<html>
  <head>
    <title>Infographic Base Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>*{box-sizing:border-box}html,body{padding:0;margin:0}</style>
    <script>var param = {
      base : "{{ url_for('home', _external=True) }}",
      process : "{{ url_for('process', _external=True) }}",
      img : "{{ img }}",
      thumb : "{{ thumb }}"
    };</script>
    <script src="{{ url_for('static', filename='html2canvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='F2_info.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body><div id="wrap">{% block body %}{% endblock %}</div></body>
</html>