{% extends "A_template.html" %}

{% block title %}Transcribe Audio{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='G_transcribe.js') }}"></script>
{% endblock %}

{% block body %}
<h3 class="mb-0">TRANSCRIBE AUDIO</h3>
<div class="mb-4"><small class="text-danger">Demo file - static/G_demo.mp3</small></div>
<div class="bg-white border p-4">
  <div class="form-group mb-3">
    <label for="row">Select Audio File</label>
    <input type="file" class="form-control" id="file" accept=".mp3,.wav,.ogg" onchange="transcribe.go()">
  </div>
</div>
{% endblock %}