{% extends "A_template.html" %}

{% block title %}About{% endblock %}

{% block body %}
<h5 class="text-danger mb-0">OFFICIAL</h5>
<div class="text-secondary mb-2"><small>
  * The usual "content creator" plug - Visit our website and follow us on our socials.
</small></div>
<ul class="list-group mb-5">
  <li class="list-group-item"><a href="https://github.com/code-boxx/Content-Creator-Tools/issues/new/choose" target="_blank">Bugs and Feature Requests</a></li>
  <li class="list-group-item"><a href="https://devncoffee.com" target="_blank">Dev + Coffee</a></li>
  <li class="list-group-item"><a href="https://www.pinterest.com/devncoffee/" target="_blank">Pinterest</a></li>
  <li class="list-group-item"><a href="https://youtube.com/@DevNCoffee" target="_blank">YouTube</a></li>
</ul>

<h5 class="text-danger mb-0">SUPPORT</h5>
<div class="text-secondary mb-2"><small>
  * Help to keep this project alive, even if it is just a little bit.
</small></div>
<ul class="list-group mb-5">
  <li class="list-group-item d-flex align-items-center">
    <a class="btn btn-danger" href="https://github.com/code-boxx/CCreo-Content-Creator-Tools" target="_blank">
      <i class="ico-sm icon-star-full"></i> Star
    </a>
    <div class="ms-2">Just give a star to this project on GitHub - It's free.</div>
  </li>
  <li class="list-group-item d-flex align-items-center">
    <a class="btn btn-danger" href="https://www.paypal.com/paypalme/wstoh/5" target="_blank">
      <i class="ico-sm icon-mug"></i> Coffee
    </a>
    <div class="ms-2">Buy me a coffee - Via PayPal me.</div>
  </li>
  <li class="list-group-item d-flex align-items-center">
    <a class="btn btn-danger" href="https://github.com/sponsors/code-boxx?frequency=one-time" target="_blank">
      <i class="ico-sm icon-heart"></i> Donate
    </a>
    <div class="ms-2">Buy a malnourished developer some food, even a small one-time amount helps - Via GitHub Sponsor.</div>
  </li>
  <li class="list-group-item d-flex align-items-center">
    <a class="btn btn-danger" href="https://payhip.com/codeboxx" target="_blank">
      <i class="ico-sm icon-price-tags"></i> Shop
    </a>
    <div class="ms-2">Buy an eBook from our store.</div>
  </li>
</ul>

<h5 class="text-danger mb-0">AI IMAGE TOOLS</h5>
<div class="text-secondary mb-2"><small>
  * Generate images for your covers and stuff. All links are not sponsored.
</small></div>
<ul class="list-group mb-5">
  <li class="list-group-item"><a href="https://midjourney.co/" target="_blank">Midjourney</a></li>
  <li class="list-group-item"><a href="https://www.seaart.ai/" target="_blank">Seaart</a></li>
  <li class="list-group-item"><a href="https://playground.com/" target="_blank">Playground</a></li>
  <li class="list-group-item"><a href="https://tensor.art/" target="_blank">Tensor Art</a></li>
  <li class="list-group-item"><a href="https://yodayo.com/text-to-image/" target="_blank">Yodayo</a></li>
</ul>

<h5 class="text-danger mb-0">IMAGE TOOLS</h5>
<div class="text-secondary mb-2"><small>
  * Free non-AI image tools. All links are not sponsored.
</small></div>
<ul class="list-group mb-5">
  <li class="list-group-item"><a href="https://www.canva.com/" target="_blank">Canva</a></li>
  <li class="list-group-item"><a href="https://pixlr.com/express/" target="_blank">Pixlr</a></li>
  <li class="list-group-item"><a href="https://www.gimp.org/" target="_blank">Gimp</a></li>
</ul>

<h5 class="text-danger mb-0">STABLE DIFFUSION</h5>
<div class="text-secondary mb-2"><small>
  * If you prefer to run an AI image generator on your own device.
</small></div>
<ul class="list-group mb-5">
  <li class="list-group-item"><a href="https://github.com/AUTOMATIC1111/stable-diffusion-webui" target="_blank">Automatic 1111</a></li>
  <li class="list-group-item"><a href="https://github.com/comfyanonymous/ComfyUI" target="_blank">ComfyUI</a></li>
  <li class="list-group-item"><a href="https://github.com/invoke-ai/InvokeAI" target="_blank">InvokeAI</a></li>
  <li class="list-group-item"><a href="https://civitai.com/" target="_blank">CivitAI</a></li>
</ul>

<h5 class="text-danger mb-0">AI SPEECH &amp; AUDIO</h5>
<div class="text-secondary mb-2"><small>
  * Generate voice overs and music. All links are not sponsored.
</small></div>
<ul class="list-group mb-5">
  <li class="list-group-item"><a href="https://elevenlabs.io/" target="_blank">Eleven Labs</a></li>
  <li class="list-group-item"><a href="https://www.microsoft.com/en-us/edge/download?form=MA13FJ" target="_blank">Edge - Has a "read aloud" feature that uses text to speech.</a></li>
  <li class="list-group-item"><a href="https://suno.com/" target="_blank">Suno - AI Music</a></li>
</ul>

<h5 class="text-danger mb-0">AI ASSISTANT</h5>
<div class="text-secondary mb-2"><small>
  * Generic "AI assistants". All links are not sponsored.
</small></div>
<ul class="list-group mb-5">
  <li class="list-group-item"><a href="https://chat.openai.com/" target="_blank">ChatGPT</a></li>
  <li class="list-group-item"><a href="https://gemini.google.com/app" target="_blank">Google Gemini</a></li>
  <li class="list-group-item"><a href="https://copilot.microsoft.com/" target="_blank">Microsoft Copilot</a></li>
</ul>

<h5 class="text-danger mb-0">AI VIDEO TOOLS</h5>
<div class="text-secondary mb-2"><small>
  * All links are not sponsored... Also, not free.
</small></div>
<ul class="list-group">
  <li class="list-group-item"><a href="https://www.descript.com/" target="_blank">Descript</a></li>
  <li class="list-group-item"><a href="https://runwayml.com/" target="_blank">Runway</a></li>
</ul>
</div>
{% endblock %}